<?xml version="1.0"?>
<config>
  <modules>
    <Moamen_Design>
      <version>0.1.0</version>
    </Moamen_Design>
  </modules>
  <global>
    <helpers>
      <design>
        <class>Moamen_Design_Helper</class>
      </design>
    </helpers>
	<blocks>
	  <design>
		<class>Moamen_Design_Block</class>
	  </design>
			<checkout>
				<rewrite>
					<cart_item_renderer>Moamen_Design_Block_Checkout_Cart_Item_Renderer</cart_item_renderer>
				</rewrite>
			</checkout>
			<checkout>
				<rewrite>
					<cart_item_renderer_grouped>Moamen_Design_Block_Checkout_Cart_Item_Renderer_Grouped</cart_item_renderer_grouped>
				</rewrite>
			</checkout>
			<checkout>
				<rewrite>
					<cart_item_renderer_configurable>Moamen_Design_Block_Checkout_Cart_Item_Renderer_Configurable</cart_item_renderer_configurable>
				</rewrite>
			</checkout>
	</blocks>
	<models>
	  <design>
		<class>Moamen_Design_Model</class>
		<resourceModel>design_mysql4</resourceModel>
	  </design>
	</models>
	<resources>
	  <salesattribute1494873890_setup>
		<setup>
		  <module>Moamen_Design</module>
		  <class>Mage_Sales_Model_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </salesattribute1494873890_setup>
	  <salesattribute1494873890_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </salesattribute1494873890_write>
	  <salesattribute1494873890_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </salesattribute1494873890_read>
	</resources>
    <events>
	  <sales_convert_quote_item_to_order_item> 
        <observers>
          <sales_convert_quote_item_to_order_item_handler> 
            <type>model</type> 
            <class>design/observer</class> 
            <method>salesConvertQuoteItemToOrderItem</method>  
            <args></args> 
          </sales_convert_quote_item_to_order_item_handler>
        </observers>
      </sales_convert_quote_item_to_order_item>
	  <sales_convert_order_item_to_quote_item> 
        <observers>
          <sales_convert_order_item_to_quote_item_handler> 
            <type>model</type> 
            <class>design/observer</class> 
            <method>salesConvertOrderItemToQuoteItem</method>  
            <args></args> 
          </sales_convert_order_item_to_quote_item_handler>
        </observers>
      </sales_convert_order_item_to_quote_item>
	  <checkout_cart_product_add_after> 
        <observers>
          <checkout_cart_add_product_complete_handler> 
            <type>model</type> 
            <class>design/observer</class> 
            <method>checkoutCartAddProductComplete</method>  
            <args></args> 
          </checkout_cart_add_product_complete_handler>
        </observers>
      </checkout_cart_product_add_after>
	  <checkout_cart_update_item_complete>  
        <observers>
          <checkout_cart_update_item_complete_handler> 
            <type>model</type> 
            <class>design/observer</class> 
            <method>checkoutCartUpdateItemComplete</method>  
            <args></args> 
          </checkout_cart_update_item_complete_handler>
        </observers>
      </checkout_cart_update_item_complete>
    </events>
  </global>
</config> 